[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
werkzeug = "*"
groq = "*"
requests = "*"
beautifulsoup4 = "*"
gunicorn = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"

[packages]
PyJWT = "==2.9.0"
